div.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.LoginPage > div.centered > div.logo {
  margin: 20px 0;
  text-align: center;
}

div.LoginPage > div.centered > div.logo {
  margin: 20px 0;
  text-align: center;
}

div.LoginPage > div.centered > h2 {
  text-align: center;
}

div.LoginPage > div.centered > div.inputArea {
  text-align: center;
}

div.LoginPage > div.centered > div.inputArea > div > input,
div.LoginPage > div.centered > div.inputArea > div > button {
  text-align: center;
  width: 200px;
  margin: 5px 0;
}
