div.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.LoginPage > div.centered > div.logo {
  margin: 20px 0;
  text-align: center;
}

div.LoginPage > div.centered > div.logo {
  margin: 20px 0;
  text-align: center;
}

div.LoginPage > div.centered > h2 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

div.LoginPage > div.centered > div.inputArea {
  text-align: center;
}

div.LoginPage > div.centered > div.inputArea > div > input,
div.LoginPage > div.centered > div.inputArea > div > button {
  text-align: center;
  width: 306px;
  height: 24px;
  margin: 10px 0;
  border-radius: 12px;
}

div.LoginPage > div.centered > div.inputArea > div > input {
  font-size: 12px;
}

div.LoginPage > div.centered > div.inputArea > div > button {
  font-size: 13px;
  background-color: var(--buttonBlue);
}
