div.GameRow {
  padding: 0 var(--edgeSpace);
}

div.GameRow > div:first-child {
  margin-top: 15px;
}

div.GameRow > div.buttonHolder {
  position: relative;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.GameRow > div.buttonHolder > button.voted {
  background-color: var(--buttonBlueSelected);
}
