div.GameRow {
  padding: 0 var(--edgeSpace);
}

div.GameRow:not(:last-child) {
  margin-bottom: 40px;
}

div.GameRow > div {
  margin: 10px 0;
}

div.GameRow > div.voters {
  margin: -5px;
}

div.GameRow > div > button {
  width: 100%;
}

div.Report > div > div.voters > div,
div.GameRow > div.voters > div {
  display: inline-block;
  margin: 5px;
  border: 1px #ccc solid;
  border-radius: 5px;
  padding: 3px 5px;
}

div.Report > div > div.voters > div:not(.flexible) {
  background-color: #ccc;
}

div.Report {
  border-bottom: 1px #aaa solid;
  padding: var(--edgeSpace);
}

div.Report:last-child {
  border-bottom: none;
}

div.Report > div {
  display: flex;
}

div.Report > div > div {
  flex: 1;
}
