html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  cursor: default;
  font-weight: 400;
  color: var(--black);
}

*:not(input) {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Montserrat", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  color: var(--black);
  overflow-y: scroll;
  overflow-x: hidden;
}

h2 {
  font-size: 20px;
  margin: 0;
  padding: 51px var(--edgeSpace) 10px;
  position: sticky;
  top: var(--headerHeight);
  background-color: var(--translucentWhite);
  z-index: 110;
}

h2 > span {
  font-weight: bold;
}

h2 > button {
  position: relative;
  margin-left: 5px;
}

button {
  overflow: hidden;
  white-space: nowrap;
}

button:not(.icon) {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:not(.big) {
  height: 24px;
  border-radius: 12px;
  font-size: 13px;
}

button.big {
  height: 40px;
  border-radius: 20px;
  font-size: 24px;
  padding: 0 20px;
}

button.blue:not(.selected) {
  background-color: var(--buttonBlue);
  color: white;
}

button.blue.selected {
  background-color: var(--buttonBlueSelected);
  color: white;
}

button.blue.shadow {
  box-shadow: var(--buttonBlueShadow);
}

button.green {
  background-color: var(--buttonGreen);
  color: white;
}

button.green.shadow {
  box-shadow: var(--buttonGreenShadow);
}

button.void {
  background-color: var(--white);
  color: var(--darkBlue);
  border: 2px solid var(--darkBlue);
}

button.icon {
  background-color: inherit;
  color: var(--black);
  border: none;
  padding: 0;
  font-weight: normal;
}

button * {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

button,
select,
a {
  cursor: pointer;
}

input,
select {
  cursor: text;
  background-color: var(--cardLightBlue);
  color: var(--black);
  border: none;
  height: 32px;
  border-radius: 16px;
  font-size: 16px;
  padding: 0 12px;
  outline: 0;
  box-shadow: var(--inputBlueInsetShadow);
}

input.readonly {
  background-color: inherit;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

div#root {
  max-width: var(--maxWidth);
  min-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  margin: auto;
  background-color: var(--white);
}

div.Router {
  position: relative;
}

div.Router > div {
  width: min(100vw, var(--maxWidth));
  background-color: var(--white);
  padding-top: var(--headerHeight);
  padding-bottom: 90px;
}

div.Router > div.previousPage {
  z-index: 500;
}

div.Router > div.currentPage {
  position: relative;
  z-index: 510;
}

div.Router > div.nextPage {
  z-index: 520;
}

div.Router > div.nextPage,
div.Router > div.previousPage {
  position: fixed;
  top: 0;
}

div.Router > div.nextPage,
div.Router > div.currentPage {
  transition-property: left;
  transition-duration: 300ms;
}

div.Router.transitioning.forward > div.nextPage {
  left: 0;
}

div.Router:not(.transitioning.forward) > div.nextPage {
  transition-duration: 0ms;
  left: 100vw;
}

div.Router.transitioning.backward > div.currentPage {
  left: 100vw;
}

div.Router:not(.transitioning.backward) > div.currentPage {
  transition-duration: 0ms;
  left: 0;
}

div.floatingBox {
  position: fixed;
  bottom: 0;
  height: 90px;
  padding: 0 var(--edgeSpace);
  width: min(100%, var(--maxWidth));
  background-color: var(--translucentWhite);
  box-shadow: 0 -20px 20px var(--translucentWhite);
  display: flex;
  justify-content: center;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}

.noScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
