:root {
  --safeAreaInsetTop: env(safe-area-inset-top);
  --safeAreaInsetRight: env(safe-area-inset-right);
  --safeAreaInsetBottom: env(safe-area-inset-bottom);
  --safeAreaInsetLeft: env(safe-area-inset-left);

  --buttonBlue: #5870ee;
  --buttonBlueSelected: #273dae;
  --buttonBlueShadow: 0 4px 4px 0 #314190;
  --cardBlueShadow: 0 4px 16px 0 #969fcb;
  --inputBlueInsetShadow: inset 0 1px 5px -2px var(--buttonBlue);
  --buttonGreen: #84ce57;
  --buttonGreenShadow: 0 4px 4px 0 #4e7b33;
  --cardLightBlue: #fafbff;

  --lightPurple: #f2d4ff;
  --lightRed: #ffb6c5;
  --lightOrange: #ffcf84;
  --lightYellow: #fff192;
  --lightGreen: #ecf6a8;

  --white: #ffffff;
  --translucentWhite: #ffffffee;
  --black: #071d70;

  --headerHeight: 50px;
  --edgeSpace: 28px;
  --maxWidth: 950px;
}
